.pokemon {
  width: 900px;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
}

#bulbasaur {
  /* your code here */
  position: relative;
  top: 15px;
}

#charmander {
  /* your code here */
  position: relative;
  top: 30px;
}

#squirtle {
  /* your code here */
  position: relative;
  top: 60px;
}

#pikachu {
  /* your code here */
  position: relative;
  top: 120px;
}

#jigglypuff {
  /* your code here */
  top: 240px;
  position: relative;
}
