.background-light {
  height: 400px;
  background-color: #fef9f1;
}

.background-dark {
  height: 400px;
  background-color: #111;
}

.button-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.button.on {
  height: 150px;
  width: 150px;
  background-color: #faea84;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 20px 20px #fef4cc;
}

.button.off {
  height: 150px;
  width: 150px;
  background-color: #222324;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 20px 20px #0c0c0c;
}
